# Artefatti di build LaTeX
relazione/*.aux
relazione/*.log
relazione/*.out
relazione/*.toc
relazione/*.listing
relazione/*.fls
relazione/*.fdb_latexmk
relazione/*.synctex.gz
relazione/_minted/
relazione/_minted-*/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store
